.vscode/**
.vscode-test/**
.vscode-test-web/**
src/**
node_modules/**
.github/**
docs/**
.eslintrc.json
.prettierrc
.gitignore
tsconfig.json
esbuild.mjs
out/test/**
tsconfig.test.json
**/*.ts
**/*.map
